* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Montserrat', 'Lato', sans-serif;
    max-width: 100%;
}


h1 {
    font-size: 4em;
    font-weight: 900;
    
}

h2 {
    font-size: 2.5em;
    font-weight: 700;
}

h3 {
    font-size: 2em;
    font-weight: 600;
}

li {
    font-size: 1.2em;
}

p{
    font-size: 1.2em;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 2rem;
    z-index: 1;
    padding: 0 15%;
}

nav {
    width: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    border-radius: 5px;
    vertical-align: middle;
    

}

nav .nav-elements {
    vertical-align: middle;
}

nav h3 {
/*     margin: 5px;   */
    
    display: inline-block;
/*     position: absolute; */
    
    
}

nav ul{
  list-style-type: none;
  float: right;
  padding: 8px 22px;
  }
nav li{
  
  display: inline-block;
    
}

nav a{
  padding: 8px 22px;
  display: block;
  text-decoration: none;
  border-radius: 5px;
  
}

nav ul a:hover{
  color: #e84a5f;
  background-color: #fff;
  
}


/* .bg { 
    background-image: url(../images/web-banners.jpeg); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
            
} */

#top-section {
    height: 100vh;
}

.top {
    position: relative;
    top: 0px;
    text-align: center;
    
}

.top img {
    /* position: relative; */
    
    height: 100vh;
    width: 100%;
    z-index: -1;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.overlay h1 {
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.overlay p {
    padding: 20px 25%;
    line-height: 1.5;
    
}

.clearfix::after, .clearfix::before {
  content: "";
  clear: both;
  display: table;   
  
}

.gallery img {
    width:30%;
        
}

#about, #events, #contact {
    
    padding: 5rem 15% 0;
}

#about h2, #events h2, #contact h2 {
    margin: 1rem auto 2rem;
}

#about p, #events p, #contact p {

    line-height: 1.5;
}

.about-gallery{
    
    max-width: 100%;

}

.image-gallery {
    
    padding: 2rem 15%;
}

.img-row {
    width: 33.33%;
    height: auto;
    margin-bottom: 16PX;
    padding: 0 8px;
    float: left;
}
.img-indi {
    position: relative;
    height: 275px;
    
    
}
.img-indi P {
    color: #fff;
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    padding: 2px 4px;
}
.img-indi img {
    max-width: 100%; 
    
}
.gallery-placement {
    margin-top: 1rem;  
    
}

.section-about {
    background-color: hsl(41, 91%, 50%);
}

.events {
    background-color: #A2327A;
}

.contact {
    background-color: #8408A6;
}

table {
    width: 100%;
    border: 1px solid #fff;
    border-collapse: collapse;
    padding: 0 auto;
    
}

th, td {
  text-align: left;
  padding: 16px;
  text-transform: uppercase;
}

tr:nth-child(even), thead tr:nth-child(odd) {
  background-color: rgba(0,0,0,0.5);
}

td, th {
    border: 1px solid #fff;
    
}

tr:hover {
    
    background-color: rgba(255, 255, 255, .3);
}

label{
    line-height: 1.5;
    padding: 0 10px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
    line-height: 1.5;
    
}

.table-row {
    width: 100%;
    padding-bottom: 1rem;
    
}

form {
    padding: 1rem 0 2rem;
}

.col-1 {
    width: 100%;
    float: left;
}

.col-2 {
    width: 50%;
    float: left;
}

.col-15 {
    
    padding: .5rem 0;
    float: left;
       
}

.col-15 {
    width: 25%;
    float: left;
}

.col-35 {
    width: 100%;
    float: left;
    padding: 0 10px;
}

.col-100 {
    width: 100%;
    padding: 0 10px;
}

input:focus, textarea:focus {
  border: 3px solid #555;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}

button {
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    padding: 16px 33px;
    font-size: 1.5rem;
    border-radius: 5px;
}

.button-margin {
    margin: 2rem auto;
}

button:hover {
    background-color: rgba(0,0,0,0.4);
    padding: 16px 33px;
    font-size: 1.5rem;
}

footer {
    background-color: #8408A6;
    color: #fff;
    
}
.copyright {
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    height: auto;
    padding: 24px;
    width: 100%;
}

@media only screen and (max-width: 1060px){
    .overlay h1 {
        font-size: 3rem;
    }

    .overlay p {
        padding: 20px 10%;
    
    }
}

@media only screen and (max-width: 890px){
    header{
    padding: 0 1%;
 }
    #about, #events, #contact {
    
    padding: 5rem 2% 0;
}
    .image-gallery {
    
    padding: 2rem 2%;
}
}

@media only screen and (max-width: 790px){
    .overlay h1 {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 680px){
    main {
        text-align: center;
    }
    nav h3 {
        font-size: 1.5em;
    }
    
    nav h3 a {
        padding: 8px;
    }

    nav ul{
        list-style-type: none;
        float: right;
        
        }
    

    nav ul li a{
        font-size: 1rem;
        padding: 8px;
        display: block;
        text-decoration: none;
        border-radius: 5px;
    
    }

    .overlay p {
        padding: 20px 2%;
    
    }
    .image-gallery {
    
        padding: 2rem 1%;
    }
    
    .img-row {
        width: 100%;
        
    }

    th, td {
       
        padding: 2px;
        font-size: 14px;
    }

    .col-2 {
    width: 100%;
    float: none;
    }

    .col-15 {
        
        padding: .5rem 0;
        float: none;
        
    }

    .col-15 {
        width: 100%;
        float: none;
    }

    .col-35 {
        width: 100%;
        float: none;
    }
    #contact h2 {
        margin: 1rem auto 0rem;
    }

    .overlay {
        padding-top: 4.5rem;
    }

}